.container {
    width: calc(100vw - 570px);
}

.container_title {
    font-size: 35px;
    font-weight: bold;
}

.container_content {
    font-size: 20px;
}

.aside {
    height: 900px;
    min-width: 200px;
    width: calc(100vw - 800px);
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .container {
        width: calc(100vw - 475px);
    }

    .container_title {
        font-size: 25px;
        font-weight: bold;
    }

    .container_content {
        font-size: 15px;
    }

    .aside {
        height: 700px;
        min-width: 210px;
        width: calc(100vw - 800px);
        max-width: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: calc(100vw - 350px);
    }

    .container_title {
        font-size: 15px;
        font-weight: bold;
    }

    .container_content {
        font-size: 10px;
    }

    .aside {
        height: 600px;
        min-width: 145px;
        width: calc(100vw - 600px);
        max-width: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: calc(100vw - 255px);
    }

    .container_title {
        font-size: 15px;
        font-weight: bold;
    }

    .container_content {
        font-size: 10px;
    }

    .aside {
        height: 400px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}