.container {
    width: calc(100vw - 570px);
}

.container_title {
    font-size: 35px;
    font-weight: bold;
}

.container_content {
    font-size: 20px;
}

.aside {
    height: 900px;
    min-width: 200px;
    width: calc(100vw - 800px);
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertisement_container {
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.advertisement_text {
    min-width: 250px;
    width: calc(100vw - 600px);
    height: 250px;
    background-color: rgb(226, 232, 240, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .container {
        width: calc(100vw - 475px);
    }

    .container_title {
        font-size: 25px;
        font-weight: bold;
    }

    .container_content {
        font-size: 15px;
    }

    .aside {
        height: 700px;
        min-width: 210px;
        width: calc(100vw - 800px);
        max-width: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advertisement_container {
        display: block;
        margin: 0;
        gap: 0;
    }

    .advertisement_text {
        margin: 20px 30px;
        min-width: 150px;
        width: calc(100vw - 540px);
        border-radius: 5px;
        height: 250px;
        background-color: rgb(226, 232, 240, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: calc(100vw - 350px);
    }

    .container_title {
        font-size: 15px;
        font-weight: bold;
    }

    .container_content {
        font-size: 10px;
    }

    .aside {
        height: 600px;
        min-width: 145px;
        width: calc(100vw - 600px);
        max-width: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advertisement_text {
        margin: 20px 35px;
        min-width: 150px;
        width: calc(100vw - 430px);
        border-radius: 5px;
        height: 200px;
        background-color: rgb(226, 232, 240, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .advertisement_text {
        margin: 20px 20px;
        min-width: 150px;
        width: calc(100vw - 400px);
        border-radius: 5px;
        height: 150px;
        background-color: rgb(226, 232, 240, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: calc(100vw - 255px);
    }

    .container_title {
        font-size: 15px;
        font-weight: bold;
    }

    .container_content {
        font-size: 10px;
    }

    .aside {
        height: 400px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advertisement_text {
        margin: 20px 15px;
        min-width: 150px;
        width: calc(100vw - 285px);
        border-radius: 5px;
        height: 150px;
        background-color: rgb(226, 232, 240, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .advertisement_text {
        font-size: 10px;
        margin: 20px 15px;
        min-width: 75px;
        width: calc(100vw - 285px);
        border-radius: 5px;
        height: 125px;
        background-color: rgb(226, 232, 240, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}